body{
  background: url("../images/ravine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.coolGifs{
  padding: 50px;
}

.buttons{
  /*color: green;*/
  border: dotted;
  border-color: black;
  height: 300px;
  margin-top: 15px;
}
.btn {
  color: black;
}
/*.parallax-container {
  width: 1200px;
}*/
/*.parallax{
  height: 500px;
}*/