body{
  background: url("../images/ravine.jpg");
  background: cover;
}

.buttons{
  /*color: green;*/
  border: dotted;
  border-color: black;
  height: 300px;
  margin-top: 15px;
}
.btn {
  color: black;
}